@use 'sass:math';

:root {
	--title-font: 'Inter', sans-serif;
	--main-font: 'Inter', sans-serif;
	
	--accent: #DF4D44;
	--accent-hover: #71db50;
	--accent-active: #c53a33;

	--white: #FFF;
	--black: #000;

	--text-color: #FFF;
	--text-color-reverse: #000;
	--theme-background: #000;

	--container-padding: 5rem;
	--mobile-container-padding: 1rem;

	--gradient: linear-gradient(to right, #ffbe0b, #fb5607, #ff006e, #8338ec, #fefae0, #ffe5d9, #3a86ff, #ef233c, #eae2b7, #00afb9, #ffbe0b);

	//overscroll-behavior: none;
}

html {
	font-size: 16px;
	height: 100svh;
	min-width: 320px;

	//overflow: hidden;

	background: var(--theme-background);

	@include _992 {
		font-size: 0.833333vw;
	}

	scrollbar-color: #323232 var(--black);
	
	::-webkit-scrollbar {
		background: var(--black);
		transition: background .2s ease;
	}
	::-webkit-scrollbar-thumb {
		background: #323232;
		border-radius: 0.375rem;
		border: 0.25rem solid var(--black);
		transition: background .2s ease, border-color .2s ease;
	}
}

html.lenis, html.lenis body {
	height: auto;
  }
  
  .lenis.lenis-smooth {
	scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
	overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
	pointer-events: none;
  }

body {

	//height: 100svh;
	min-width: 320px;

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;
	color: var(--text-color);

	/* position: fixed;
	left: 0; top: 0;
	width: 100%; height: 100svh; */

	/* display: flex;
	flex-direction: column; */

	/* &.is-mobile-menu-active {
		overflow: hidden;
	} */
	--border-size: 0.0625rem;

	@include _992 {
		--border-size: 0.0938rem;
	}
	
	@media (min-width: 1700px) {
		--border-size: 0.0625rem;
	}

	@media (max-width: 991px) {
		&.disable-scroll {
			overflow: hidden;
		}
	}
	@include _992 {overflow: hidden;}
	transition: background .5s;
	
}

.simplebar-scrollbar::before {
	background: transparent;
	@include _992 {
		background: white;
	}
}

.main-container {
	@include _992 {
		height: 100vh;
		height: 100svh;
		overflow-y: auto; overflow-x: hidden;
	}

	//overscroll-behavior: none;
	/* position: relative;
	z-index: 2; */

	/* scrollbar-color: #323232 var(--black);
	
	::-webkit-scrollbar {
		background: var(--black);
		transition: background .2s ease;
	}
	::-webkit-scrollbar-thumb {
		background: #323232;
		border-radius: 0.375rem;
		border: 0.25rem solid var(--black);
		transition: background .2s ease, border-color .2s ease;
	} */
}

/* .pin-spacer {
	pointer-events: none;
} */

body.disable-scroll .main-container {
	pointer-events: none;
}

/* body.disable-scroll .wrapper, body.disable-scroll .header__inner {
	margin-right: var(--scrollbar-width,0px);
} */

.image-aspect-ratio, figure img {
	width: 100%; height: auto;
	@supports (aspect-ratio: 1) {
		aspect-ratio: var(--aspect-ratio);
	}
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	flex: 1 1 auto;

	
	/* display: flex;
	flex-direction: column;

	overflow: hidden; */
}

.main {

	flex: 1 0 auto;
	position: relative;

	transition: opacity .5s;
	&.is-hidden {
		opacity: 0;
	}
	&.is-visible {
		opacity: 1;
	}
}

.container {
	padding-left: var(--mobile-container-padding);
	padding-right: var(--mobile-container-padding);

	@include _992 {

		padding-left: var(--container-padding);
		padding-right: var(--container-padding);

		@media (min-width: #{$containerMin}rem) {
			&.is-min {
				padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
				padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}rem));
			}
		}
	}
	
	/* @media (min-width: #{$container}px) {
		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
	} */
}

.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@include _992 {
		display: none !important;
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

[aria-hidden="true"] {
	pointer-events: none; user-select: none;
}
