/* .footer {
	flex: 0 0 auto;
	background: #ccc;
} */
.footer {

	&.is-fixed {
		opacity: 0; visibility: hidden;
		transition: opacity .5s, visibility .5s;

		&.is-visible {
			opacity: 1; visibility: visible;
		}
	}

	flex: 0 0 auto;

	@include _992 {
		&.is-fixed {
			position: fixed;
			left: 0; bottom: 0;
			width: 100%;
	
			z-index: 2;
		}

		
	}

	// .footer__inner

	&__inner {
		
		padding-left: var(--mobile-container-padding);
		padding-right: var(--mobile-container-padding);

		padding-top: 5rem; padding-bottom: 2.5rem;
	
		@include _992 {
			padding-left: 2rem;
	
			display: grid;
			grid-template-columns: 1fr 1fr;

			padding-left: var(--container-padding);
			padding-right: var(--container-padding);

			padding-top: 5rem; padding-bottom: 5rem;
		}
	
		background: var(--black);
	}

	&__inner + &__bottom {
		@include _768 {
			padding-left: var(--container-padding);
		}
	}

	// .footer__about

	&__about {
		padding-right: 1rem;
		text-align: center;
		@include _992 {
			text-align: start;
		}
	}

	// .footer__logo

	&__logo {
		img {
			width: 11.5625rem; height: 1.375rem;
		}
	}

	// .footer__text

	&__text {
		padding-top: 1.5rem;
		
		@include _992 {
			padding-top: 3rem;
			max-width: 18.125rem;

			display: block;
		}

		font-size: 0.875rem;
		line-height: 140%;
		opacity: .5;

		display: inline-block;
		
	}

	// .footer__row

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.5rem 0;

		@include _768 {
			grid-template-columns: 1fr 1fr 1.5fr;
		}

		padding-top: 2.5rem;

		@include _992 {
			padding-top: 0;
		}
	}

	// .footer__block

	&__block {
		@include _768 {
			max-width: 18.8125rem;
		}

		&:last-child {
			justify-self: end;
			grid-column: 2 span;
			@include _768 {
				grid-column: auto;
			}
		}

		> span {
			font-size: 1rem;
			line-height: 140%;
			text-transform: uppercase;
			color: var(--text-color);

			@include _992 {
				font-size: 1.25rem;
			}

			opacity: 0.5;
		}
		ul {
			&:not(:first-child) {
				padding-top: 1rem;
			}

			li:not(:first-child) {
				padding-top: 1rem;
			}

			a {

				display: block;
				color: var(--text-color);
				font-size: 1rem;
				line-height: 140%;
				text-transform: uppercase;

				@include _992 {
					font-size: 1.25rem;
				}

				@media (any-hover: hover) {

					text-decoration: underline;
					text-underline-offset: 0.5ch;
					text-decoration-color: transparent;

					transition: color .2s, text-decoration-color .2s;

					&:hover {
						text-decoration-color: var(--text-color);
					}
				
					&:active {
						color: var(--accent);
						text-decoration-color: var(--accent);
					}
				}
			}
		}
	}

	// .footer__bottom_row

	&__bottom_row {

		padding-top: 2.5rem;

		@include _992 {
			grid-column: 2 span;
			padding-top: 4.25rem;
		}
		
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	// .footer__copy

	&__copy {
		color: var(--text-color);
		font-size: 0.875rem;
		line-height: 100%;
		text-transform: uppercase;
	}

	// .footer__privacy

	&__privacy {
		
		@include _768 {
			min-width: 18.8125rem;
		}

		display: flex;
		flex-wrap: wrap;

		gap: 1rem;

		a {
			color: var(--text-color);
			font-size: 0.875rem;
			line-height: 100%;
			text-transform: uppercase;

			@media (any-hover: hover) {

				text-decoration: underline;
				text-underline-offset: 0.5ch;
				text-decoration-color: transparent;
				
				transition: color .15s, text-decoration-color .15s;

				&:hover {
					text-decoration-color: var(--text-color);
				}
			
				&:active {
					text-decoration-color: var(--accent);
					color: var(--accent);
				}
			}
		}
	}

	// .footer__bottom

	&__bottom {
		@include _768 {
			padding-left: var(--mobile-container-padding);
		}
	
		@include _992 {
			padding-left: 2rem;
	
			display: flex;
			flex-wrap: wrap;

			border-top: var(--border-size) solid #fff;
		}
	
		background: var(--black);
	
		display: grid;
	
		@include _768 {
			grid-template-columns: auto auto;
		}
	}

	// .footer__social

	&__social {
		flex: 1 1;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@include _768 {

			justify-content: stretch;

			margin: 0 0 0 -1.5rem;
			padding: 0.35rem 0;
		}

		padding: 0.5rem 0;

		a {
			padding: 0.5rem 1rem;
			display: block;

			@include _768 {
				padding: 0.5rem 1.5rem;
			}

			font-size: 0.875rem;
			color: var(--text-color);
			line-height: 100%;
			text-transform: uppercase;

			text-decoration: underline;
			text-underline-offset: 0.5ch;
			text-decoration-color: transparent;

			@media (any-hover: hover) {

				transition: text-decoration-color .2s, opacity .2s;

				&:hover {
					text-decoration-color: var(--text-color);
				}
			
				&:active {
					opacity: .7;
				}
			}
		}
	}

	// .footer__back

	&__back {
		white-space: nowrap;

		display: flex;
		flex-direction: column;
		
		@include _768 {

			flex-direction: row;
			justify-self: end;
		}

		background: transparent;

		@media (any-hover: hover) {
			&:hover span:nth-child(2) {
				background: var(--white);
				color: var(--text-color-reverse);
			}
		
			&:active span:nth-child(2) {
				background: var(--white);
				color: var(--text-color-reverse);
			}
		}

		span {
			position: relative;

			min-height: 100%;
			
			&:nth-child(1) {

				display: none;
				align-items: center;

				@include _768 {
					display: flex;
				}

				font-size: 0.875rem;
				line-height: 100%;
				text-align: end;
				color: var(--text-color);
				text-transform: uppercase;

				padding-right: 1.5rem;
			}

			&:nth-child(2) {
				
				@include _768 {
					border-left: 0.0625rem solid var(--white);
					border-top: 0;

					width: auto;

					justify-content: stretch;
				}

				border-top: 0.0625rem solid var(--white);

				width: 100%;

				padding: 0.1563rem 1rem;
				color: var(--text-color);

				display: flex;
				align-items: center;
				justify-content: center;

				transition: background .2s, color .2s;
			}

			svg {
				width: 2.5rem; height: 2.625rem;
			}
		}
	}
}
