$fontSize: var(--logo-size,calc(var(--vw)*14));

#console {
	position: fixed;
	right: 0; top: 0;
	color: var(--text-color);
	z-index: 100;
}

.main-background {

	position: fixed;
	left: 0; top: 0;
	width: 100vw; height: 100svh;
	z-index: 2;

	@include _550 {
		height: calc(var(--vh,1svh)*100);
	}

	display: flex;
	align-items: flex-end;
	justify-content: center;

	perspective: 25rem;

	overflow: hidden;

	// .main-background__logo

	&__logo {
		font-size: $fontSize;
		font-weight: 700;
		line-height: 100%;
		font-kerning: none;
		text-transform: none;

		position: relative;

		opacity: 0;

		transform-origin: left center;
		min-width: 100vw;

		span:nth-child(1) {
			display: block;
			color: transparent;
			width: 100%;
		}

		span:nth-child(2) {
			position: absolute;
			left: 0; bottom: 0;
			width: 100%; height: 100%;
			color: transparent;

			opacity: var(--gradient-opacity,0);

			&::before {
				content: "\e900";
				font-family: 'icomoon' !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				font-size: $fontSize;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				display: block;
				position: absolute;
				left: 0%; top: 0;
				min-width: 100vw;
				//transform: translate(var(--x,0.475ch),0);
				
				background: var(--gradient);
				background-size: var(--gradient-size,0) 100%;
    			background-position: var(--gradient-animating,0) 0;
				background-clip: text;
				//animation: gradientAnimation 12s linear infinite;
			}
		}

		span:nth-child(3) {

			position: absolute;
			left: 0; bottom: 0;
			width: 100%; height: 100%;
			color: transparent;

			opacity: var(--logo-opacity,0);
			
			&::before {
				content: "\e900";
				font-family: 'icomoon' !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				font-size: $fontSize;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				display: block;
				position: absolute;
				left: 0%; top: 0%;

				//opacity: var(--accent-opacity,0);

				color: var(--logo-bg-color,var(--accent));
			}

			&::after {
				content: "\e901";
				font-family: 'icomoon' !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				font-size: $fontSize;
				color: var(--text-color);

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				display: block;
				position: absolute;
				left: 0%; top: 0%;

				//opacity: var(--front-opacity,0);
				
			}
		}

		span:nth-child(4) {
			position: absolute;
			left: 0; bottom: 0;
			width: 100%; height: 100%;
			color: #171717;

			display: none;
			opacity: var(--last-opacity,1);

			font-size: $fontSize;
			
			&::before {
				content: "\e901";
				font-family: 'icomoon' !important;
				speak: never;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				font-size: $fontSize;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;

				display: block;
				position: absolute;
				left: 0; top: 0;
				
			}

			/* &::after {
				content: "";
				

			} */
		}

		display: grid;

		> * {
			grid-area: 1/1;
		}

		/* svg {
			

		} */
	}

	&__logo_symbol {
		position: absolute;
		left: 50%; top: calc(51% + var(--height-header)/2);
		width: calc(var(--logo-size,calc(var(--vw)*14))*1.2); height: auto;
		transform: translate(-50%,var(--symbol-y,-22.5%)) scale(var(--symbol-scale,1));
		
		@include _550 {
			top: 53%;
			width: calc(var(--logo-size,calc(var(--vw)*14))*1.09);
		}

		@include _992 {
			top: 50%;
			width: calc(var(--logo-size,calc(var(--vw)*14))*1.1);
		}
		/* @include _550 {
			right: 15.2%;
			transform: translate(0%,-35%);
		} */
		color: #171717;
		z-index: -1;

		display: flex;
		justify-content: center;

		svg {
			width: 100%; height: auto;
		}

		opacity: 0;
	}

	&__logo_shadow {

		position: absolute;
		left: 50%; top: 50%;
		width: calc(var(--logo-size)*3.9); height: calc(var(--logo-size)*4.2);
		transform: translate(-52.5%,-24vw);
		//background: red;
		
		@include _550 {
			top: 52.5%;
			width: 20.5vw; height: 23vw;
			transform: translate(-52%,-42%);
			box-shadow: 0 -2vw 3vw -1vw var(--accent);
		}

		@include _992 {
			top: 50%;
		}

		border-radius: 50%;
		box-shadow: 0 -10vw 20vw -5vw var(--accent);

		opacity: var(--shadow-opacity,0);
	}

	// .main-background__line

	&__line {
		position: fixed;
		left: 0; bottom: 0;
		z-index: 3;
		width: 100vw; height: 2.604167vw;
		background: var(--gradient);
		background-size: var(--gradient-size,0) 100%;
		background-position: var(--gradient-animating,0) 0;
        

		//transform: translate3d(0,100%,-0.01px);
		transition: clip-path .5s;

		clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

		@include _992 {
			top: 100%;
		}

		@include _992 {
			height: 3.125rem;
			transform: translate3d(0,-100%,0.03px);
		}

		&.is-visible {
			//transform: translate3d(0,0%,0.03px);
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

			/* @include _992 {
				transform: translate3d(0,-100%,0.03px);
			} */
		}
	}

	&__text {
		position: absolute;
		inset: 0;
		width: 100%; height: 100%;

		perspective: 25rem;
	}

	&__text_block {
		font-size: 6vw;
		text-transform: uppercase;
		color: var(--white);
		font-weight: 700;
	}

	#text {
		position: absolute;
		visibility: hidden;
		/* width: 1px; height: 1px;
		margin: -1px; padding: 0;
		border: 0;
		
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden; */
	}

	&__text_element {
		position: absolute;
		left: 50%; top: 50%;

		width: 30%; aspect-ratio: 1/1;

		//transform: translate(-50%,-50%);
		transform: translate(-50%,-50%) scale(var(--scale,0));
		
		font-size: 5vw;
		text-transform: uppercase;
		color: var(--white);
		font-weight: 700;

		transform-origin: center;

		visibility: hidden;

		canvas {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
		}

		&:nth-child(1) > * {
			animation: rotateAnim 20s linear 0s infinite normal forwards;
		}

		&:nth-child(2) > * {
			animation: rotateAnimReverse 23s linear 0s infinite normal forwards;
		}

		&:nth-child(3) > * {
			animation: rotateAnim 30s linear 0s infinite normal forwards;
		}

		&:nth-child(4) > * {
			animation: rotateAnimReverse 35s linear 0s infinite normal forwards;
		}
		
		/* &.is-active svg {
			transform: translate3d(-50%,-50%,0.06px) scale(var(--));
		} */

		/* &:nth-child(1) img, &:nth-child(1) > span, &:nth-child(1) canvas {
			transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-1,10));
			@include _768 {
				transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-1,7));
			}
		}

		&:nth-child(2) img, &:nth-child(2) > span, &:nth-child(2) canvas {
			transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-2,10));
			@include _768 {
				transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-2,7));
			}
		}

		&:nth-child(3) img, &:nth-child(3) > span, &:nth-child(3) canvas {
			transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-3,10));
			@include _768 {
				transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-3,7));
			}
		}

		&:nth-child(4) img, &:nth-child(4) > span, &:nth-child(4) canvas {
			transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-4,10));
			@include _768 {
				transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale-4,7));
			}
		} */

		/* img, canvas, & > span {
			display: block;
			position: absolute;
			left: 50%; top: 50%;
			transform: translate3d(-50%,-50%, 0.06px);// scale(var(--scale,10));
			//aspect-ratio: 1/1; height: auto;
			//width: 32.5%;

			> span {
				display: block;
				width: 35vw; height: 35vw;
			}

			@include _768 {
				transform: translate3d(-50%,-50%, 0.06px);// scale(var(--scale,7));
			}
		} */

		/* svg {
			position: absolute;
			inset: 50%;
			transform: translate3d(-50%,-50%, 0.06px) scale(var(--scale,7));
			height: auto;

			//transition: transform 1.5s;
			
			text {
				fill: var(--text-color);
				font-family: var(--main-font);
				font-size: 92px;
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.1px;
			}
		} */
	}
}

@keyframes rotateAnim {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

@keyframes rotateAnimReverse {
	from {
		rotate: 0deg;
	}
	to {
		rotate: -360deg;
	}
}

/* @keyframes gradientAnimation {
	0% {
		background-position: 0 0; 
	}
	100% {
		background-position: 12000px 0;
	}
} */
