.news-card {

	

	/* transition: opacity .3s, visibility .3s;
	opacity: 0; visibility: hidden;

	&.is-visible {
		opacity: 1; visibility: visible;
	} */

	background: var(--black);

	@include _992 {
		backdrop-filter: blur(15px);
		background: transparent;
		@-moz-document url-prefix() {
			backdrop-filter: none;
			background: rgba(0, 0, 0, 1);
		}
	}

	&__inner {
		display: flex;
		flex-direction: column;

		min-height: 100%;

		border: var(--border-size) solid var(--text-color);

		@media (any-hover: hover) {

			transition: border-color .2s;
			
			&:hover {
				border-color: var(--accent);
			}
		
			&:active {
				border-color: var(--accent-active);
			}
		}
	}

	@media (any-hover: hover) {
		&__inner:hover &__link {
			color: var(--accent);
		}

		&__inner:active &__link {
			color: var(--accent-active);
		}
	}

	// .news-card__image

	&__image {

		display: block;
		position: relative;
		@supports (aspect-ratio: 1) {
			aspect-ratio: 1/1;
		}

		overflow: hidden;

		/* @media (any-hover: hover) {
			&:hover img {
				transform: scale3d(1.1,1.1,1);
			}
		
			&:active img {
				transform: scale3d(1.05,1.05,1);
			}
		} */

		img {

			width: 100%; height: auto;
			transition: transform .3s;

			@supports (aspect-ratio: 1) {
				position: absolute;
				left: 0; top: 0;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	// .news-card__tags

	&__tags {
		padding: 1rem 1rem 0;
		@include _992 {
			padding: 1.5rem 1.5rem 0;
		}

		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		span {
			display: inline-block;
			padding: 0.5rem 0.625rem;

			color: var(--text-color);
			font-size: 0.875rem;
			line-height: 100%;

			@include _992 {
				padding: 0.625rem 1rem;
			}
			
			border: var(--border-size) solid var(--text-color);

			border-radius: 2rem;
			text-transform: uppercase;

			/* @media (any-hover: hover) {

				transition: background .2s, color .2s;

				&:hover {
					background: var(--text-color);
					color: var(--text-color-reverse);
				}
			
				&:active {
					background: rgba(255, 255, 255, 0.7);
					color: var(--text-color-reverse);
				}
			} */
		}
	}

	// .news-card__title

	&__title {
		flex: 1 1;

		span {
			display: block;
			padding: 1rem 1rem 0;
			@include _992 {
				padding: 1.5rem 1.5rem 0;
			}

			font-size: 1rem;
			line-height: 150%;
			text-transform: uppercase;
			color: var(--text-color);

			@media (max-width: 991px) {
				min-height: 65px;

				display: -webkit-box;
				text-overflow: ellipsis;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				line-clamp: 2;
				box-orient: vertical;
			}

			@include _992 {
				font-size: 1.5rem;
			}

			/* @media (any-hover: hover) {

				transition: color .2s;

				&:hover {
					color: var(--accent);
				}
			
				&:active {
					color: var(--accent-active);
				}
			} */
		}
	}

	// .news-card__link

	&__link {
		display: block;
		padding: 1rem 1rem 0;

		@include _992 {
			padding: 1rem 1.5rem 1.5rem;
		}

		color: var(--text-color);

		/* @media (any-hover: hover) {
			&:hover svg {
				transform: translate3d(0.625rem,0,100px);
				color: var(--accent);
			}
		
			&:active svg {
				transform: translate3d(0.4375rem,0,0.04px);
				color: var(--accent-active);
			}
		} */

		svg {
			width: 2rem; height: 2rem;
			transition: color .2s;
		}
	}
}
